SECRET_KEY=PrivetKakDels12@
ADMIN_LOGIN=admin
ADMIN_PASSWORD_HASH=4bf02886e919ba6a01bcf77d50ff72d44768c751068300b05c7eaa77e8cfacba  # python3 -c "import hashlib; print(hashlib.sha256('пароль'.encode()).hexdigest())"
BLOG_TITLE=ITroyas@blog
BLOG_DESC=Создано со смыслом
